.envelope{
    display: flex;
}

.toPerson{
    display: flex;
   
}

 .stamp {
    margin-left: 40em;
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    height: 100px;
    width: 100px;
}
.forPerson{
    margin-top: 25rem;
    margin-left: 5em;
}